body{
    background: linear-gradient(135deg, #ffb6d9, #ff69b4);
    
}

.foto {
    width: 1050px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    display: block;
  }